<ion-header>
  <ion-toolbar >
    <ion-title >Error 404</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding centralize-content">  
  <ion-card>
    <ion-card-content >
      <ion-card-title style="font-size: 3em; text-align: center;">Oops!</ion-card-title>
      <ion-img src="../../assets/images/pages/error/error-404.png" alt="404 error image" class="circular-img"></ion-img>
      <br>
      <!-- <ion-button routerLink="/pages/home">Voltar para Home</ion-button> -->
      <ion-card-subtitle style="font-size: 1.5em; text-align: center;">Página não encontrada</ion-card-subtitle>
    </ion-card-content>    
  </ion-card>
</ion-content>