<ion-header>
  <ion-toolbar >
    <ion-title >Bem vindo!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding centralize-content">  
  <ion-card>
    <ion-card-content >
      <ion-card-title style="font-size: 3em; text-align: center;">Bem vindo!</ion-card-title>
      <br>
      <br>
      <br>


      <br>
      <br>
      <br>
      <!-- <ion-button routerLink="/pages/home">Voltar para Home</ion-button> -->
      <ion-card-subtitle style="font-size: 1.5em; text-align: center;">Powered by 
        <div class="image-container">
          <img src="assets/images/bitcoin.png" alt="Bitcoin" />
          <img src="assets/images/ethereum.png" alt="Ethereum" />
          <img src="assets/images/ecossistema-idakila_M.png" alt="Ecossistema Idakila M" />
          <img src="assets/images/kwil-db.png" alt="Kwil DB" />        
          <img src="assets/images/aiven.png" alt="Aiven" />
          <img src="assets/images/angula-framework.png" alt="Angular Framework" />
          <img src="assets/images/ionic-framework.png" alt="Ionic Framework" />
          <img src="assets/images/solana_w.png" alt="Solana" />
          <img src="assets/images/ipfs.png" alt="IPFS" />
          <img src="assets/images/ethereum-name-service.png" alt="ENS" />  
          <img src="assets/images/docker.png" alt="Docker" />       
        </div>
    </ion-card-subtitle>
    </ion-card-content>    
  </ion-card>
</ion-content>